#todoForm {
    width: 100%;
    padding: 24px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin: 40px auto;
}

.group-btn {
    text-align: center;
}

button {
    min-width: 100px;
    border: none;
}

.completed {
    color: green;
}

.pending {
    color: palevioletred;
}

.icon {
    line-height: 100%;
    height: 100%;
}